/bootstrap/compiled.php
/vendor
/public/photos/
/public/geojson/
/public/logos/
/public/deepwell/
/public/forum_uploads/
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
cron.txt
/public/googlee072ad404418ca3b.html
/public/sitemap.xml

